#login .overlay {
  justify-content: flex-end;
  padding-left: 12px;
  padding-right: 12px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  .title {
    color: gray;
    font-size: 1.2rem;
  }
}

.account-creation-container {
  background: #1f1e1e;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
}
